<div class="card border-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">Cliente {{this.id}} </div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Datos personales</h5>
    <p class="card-text">Nombre y Apellido:</p>
    <p class="card-text">{{this.fname}} {{this.lname}}</p>
    <p class="card-text">Pasaporte:</p>
    <p class="card-text">{{this.passport}}</p>
    <p class="card-text">Fecha de Nacimiento:</p>
    <p class="card-text">{{this.bdate}}</p>
    <p class="card-text">Correo:</p>
    <p class="card-text">{{this.mail}}</p>
    <p class="card-text">Cliente creado:</p>
    <p class="card-text">{{this.createAt}}</p>
  </div>
</div>  